main {
  /* background: #000; */
  display: flex;
  flex-direction: column;
  align-items: center;

  gap: 30px;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  background: -webkit-linear-gradient(red, yellow, green, yellow, red);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  text-transform: uppercase;
}

h1 {
  font-size: 72px;

  background: -webkit-linear-gradient(200deg, red, yellow, green, yellow, red);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  text-transform: uppercase;
}

.rectangle {
  width: 400px;
  height: 200px;
  background: #000;
  background: -webkit-linear-gradient(0deg, red, yellow, green, yellow, red);
  -webkit-background-clip: unset;
  -webkit-text-fill-color: transparent;
}
